.community {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background: #f5f6f7;
}

.community .title {
  color: #373737;
  margin-top: 1rem;
}

.community p {
  text-align: center;
  color: #373737;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.community__slider {
  position: relative;
}

.community .swiper__btn {
  position: absolute;
  top: -2rem;
  right: 1rem;
}
@media (max-width: 1199px) {
  .community__slider img {
    width: 290px;
  }
}
@media (max-width: 991px) {
  .community__slider img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .community .swiper__btn {
    left: 50%;
    transform: translateX(-50%);
  }
  .community__slider {
    text-align: center;
  }
  .community__slider img {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .community__slider img {
    width: 100%;
  }
}
