/* ======== General CSS ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Rounded Book";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3 {
  font-family: "Gotham Rounded";
}

section {
  overflow: hidden !important;
  width: 100%;
}

.button {
  text-transform: uppercase;
  background: #16a085;
  color: #fff;
  border: none;
  font-size: 0.8rem;
  padding: 0.55rem 1.25rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button:hover {
  background: #046a55;
}

.title {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #16a085;
  letter-spacing: 0.1rem;
}

.para {
  line-height: 1.75;
  letter-spacing: 1px;
  margin-top: 2rem;
  color: #373737;
  font-size: 0.9rem;
  margin-bottom: 1.75rem;
}

.para span {
  font-family: "Gotham Rounded";
}

@media (max-width: 500px) {
  .para br {
    display: none;
  }
}

@media (min-width: 778px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
